{
  "_id": "6a675233ec1c893d8a7f67bc:6a675233ec1c893d8a7f64f3",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Topic APIs",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/$(appid)/topics": {
      "get": {
        "deprecated": false,
        "description": "This API is used to list the topics for a specific appID",
        "operationId": "list",
        "parameters": [
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the app asset that you can obtain from IMIconnect platform",
            "in": "path",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"topics\" : [{\n\t\t\t\"id\" : \"591d44c3e4b09eee109c1541\",\n\t\t\t\"ref\" : \"World News\",\n\t\t\t\"created_on\" : \"2017-05-26T18 12:22:51.001Z\",\n\t\t\t\"description\" : \"World wide news will be anounced\",\n\t\t\t\"topic\" : \"news\",\n\t\t\t\"topic_group\" : \"newsGroup\"\n\t\t}, {\n\t\t\t\"id\" : \"591d7b7de4b09e0d95d4f73d\",\n\t\t\t\"ref\" : \"offer ref\",\n\t\t\t\"created_on\" : \"2017-05-26T18 12:22:51.001Z\",\n\t\t\t\"description\" : \"Get Benifits by subscribe\",\n\t\t\t\"topic\" : \"offers\",\n\t\t\t\"topic_group\" : \"Extra Benifits\"\n\t\t}\n\t],\n\t\"trans_id\" : \"0c19ad72-179c-4d89-bf6d-2e104e3d62f5\",\n\t\"description\" : \"success\",\n\t\"code\" : \"0\"\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "example": "0",
                      "type": "string"
                    },
                    "description": {
                      "example": "success",
                      "type": "string"
                    },
                    "topics": {
                      "items": {
                        "properties": {
                          "created_on": {
                            "example": "2017-05-26T18 12:22:51.001Z",
                            "type": "string"
                          },
                          "description": {
                            "example": "World wide news will be anounced",
                            "type": "string"
                          },
                          "id": {
                            "example": "591d44c3e4b09eee109c1541",
                            "type": "string"
                          },
                          "ref": {
                            "example": "World News",
                            "type": "string"
                          },
                          "topic": {
                            "example": "news",
                            "type": "string"
                          },
                          "topic_group": {
                            "example": "newsGroup",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "trans_id": {
                      "example": "0c19ad72-179c-4d89-bf6d-2e104e3d62f5",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          }
        },
        "summary": "List All Topics",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X GET https://{{rtmsapi}}/rtmsAPI/api/v1/apps/{{inappid}}/topics/\n-H \"secretKey: {secretKey}\"\n",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.get(\"https://{{rtmsapi}}/rtmsAPI/api/v1/apps/{{inappid}}/topics\",\n    :headers => {\n                          'secretKey ' => '{secretKey}’\n            }\n)\n# Print on console\nputs http\n",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \" https://{{rtmsapi}}/rtmsAPI/api/v1/apps/{{inappid}}/topics/\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);\n",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \" https://{{rtmsapi}}/rtmsAPI/api/v1/apps/{{inappid}}/topics/\"\n\nheaders = {'secretKey': '{secretKey}’}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)\n",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
