{
  "_id": "6a675233ec1c893d8a7f67bc:6a675233ec1c893d8a7f6584",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Topic APIs",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/$(appid)/topics/$(topicid)/users/$(userid)": {
      "delete": {
        "deprecated": false,
        "description": "",
        "operationId": "unsubscribe-a-user-from-a-topic",
        "parameters": [
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the app asset that you can obtain from imiconnect platform",
            "in": "path",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the ID of the topic",
            "in": "path",
            "name": "topicid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID for a mobile/web app user",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Request Example": {
                  "value": {}
                }
              },
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"trans_id\" : \"f55be7ae-4af7-45aa-a062-ae0ef5c32e60\",\n\t\"description\" : \"success\",\n\t\"code\" : 0\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "description": {
                      "example": "success",
                      "type": "string"
                    },
                    "trans_id": {
                      "example": "f55be7ae-4af7-45aa-a062-ae0ef5c32e60",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "400"
          }
        },
        "summary": "Unsubscribe a User from a Topic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
