{
  "_id": "6a675233ec1c893d8a7f67c0:6a675233ec1c893d8a7f658e",
  "components": {
    "securitySchemes": {}
  },
  "info": {
    "title": "Send MMS",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/messages": {
      "post": {
        "deprecated": false,
        "description": "",
        "operationId": "mms-api",
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "default": "Application/JSON",
              "type": "string"
            }
          },
          {
            "description": "Service key available on the platform UI",
            "in": "header",
            "name": "key",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bearer {{token}}. Applicable if you want to use JWT tokens for API authentication. Use either of 'key' or 'Authorization' header param.",
            "in": "header",
            "name": "Authorization",
            "schema": {
              "default": "Bearer <JWT Token>",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "MMS with Single Slide": {
                  "value": {
                    "callbackData": "suneelmmstest",
                    "channel": "mms",
                    "contactolicy": {
                      "channelCheckConsent": true,
                      "contactPolicyGroup": "200"
                    },
                    "content": {
                      "attachments": [
                        {
                          "duration": 5,
                          "mediaUrl": "http://res.cloudinary.com/demo/image/upload/sample.jpg",
                          "messageText": "flower $(offerName) image",
                          "type": "image"
                        }
                      ],
                      "fallbacktext": "fallback $(offerName)text as SMS",
                      "name": "Internal $(offerName)Name"
                    },
                    "expireAt": "<ISO8601 date/time>",
                    "from": "34343",
                    "notifyUrl": "https://requestinspector.com/inspect/01eyjsmfpta77j3v9b0q3vrqkf",
                    "prioriy": "<priority number>",
                    "requestedReceipts": [
                      "DELIVERED",
                      "READ",
                      "SUBMITTED",
                      "FAILED"
                    ],
                    "sendAt": "<ISO8601 date/time>",
                    "substitutions": {
                      "offerName": "Big OFFER",
                      "value": "123"
                    },
                    "to": [
                      {
                        "correlationId": "na1b2b1i1",
                        "msisdn": [
                          "16502813641"
                        ],
                        "substitutions": {
                          "accountNumber": "38S189",
                          "area": "EC1M 4BH",
                          "offerName": "suneeltest"
                        }
                      }
                    ]
                  }
                }
              },
              "schema": {}
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   \"messageId\":\"0a129aee-e1cd-480d-b08d-4f48548ff48d\",\n   \"correlationId\":\"k1l2\",\n   \"status\":\"queued\",\n   \"requestTimestamp\":\"2014-02-17T07:25:01.4178645-05:00\"\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "correlationId": {
                      "example": "k1l2",
                      "type": "string"
                    },
                    "messageId": {
                      "example": "0a129aee-e1cd-480d-b08d-4f48548ff48d",
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "example": "2014-02-17T07:25:01.4178645-05:00",
                      "type": "string"
                    },
                    "status": {
                      "example": "queued",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "201"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": 8000,\n  \"message\": \"Invalid parameter: 'asdf'\"\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "default": 0,
                      "example": 8000,
                      "type": "integer"
                    },
                    "message": {
                      "example": "Invalid parameter: 'asdf'",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "400"
          }
        },
        "summary": "MMS API"
      }
    }
  },
  "security": [
    {}
  ],
  "servers": [
    {
      "url": "https://api.us.webexconnect.io/v2"
    }
  ],
  "x-readme": {
    "explorer-enabled": true,
    "headers": [],
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
