{
  "_id": "6a675233ec1c893d8a7f67bb:6a675233ec1c893d8a7f64fb",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Segment APIs",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/{inappid}/segments": {
      "get": {
        "deprecated": false,
        "description": "This API is used to list the segments for a given appId.",
        "operationId": "segment-apis-list",
        "parameters": [
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique identifier corresponding to the app asset",
            "in": "path",
            "name": "inappid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\t\"code\" : \"0\",\n  \"description\" : \"success\",\n  \"trans_id\" : \"0c19ad72-179c-4d89-bf6d-2e104e3d62f5\",\n  \"segments\" : [{\n\t\t\t\"id\" : \"59424c2ce4b0649ee1ef90ba\",\n\t\t\t\"criteria\" : \"News\",\n\t\t\t\"created_on\" : \"2017-06-15T14:28:20.263Z\",\n\t\t\t\"name\" : \"RTTopicCriteria\",\n\t\t\t\"updated_on\" : \"2020-06-15T15:19:44.102Z\"\n\t\t}, {\n\t\t\t\"id\" : \"59425adde4b0649ee1ef90bc\",\n\t\t\t\"criteria\" : \"Channels\",\n\t\t\t\"created_on\" : \"2020-06-15T15:19:44.102Z\",\n\t\t\t\"name\" : \"channel\",\n\t\t\t\"updated_on\" : \"2020-06-15T18:19:44.102Z\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "example": "0",
                      "type": "string"
                    },
                    "description": {
                      "example": "success",
                      "type": "string"
                    },
                    "segments": {
                      "items": {
                        "properties": {
                          "created_on": {
                            "example": "2017-06-15T14:28:20.263Z",
                            "type": "string"
                          },
                          "criteria": {
                            "example": "News",
                            "type": "string"
                          },
                          "id": {
                            "example": "59424c2ce4b0649ee1ef90ba",
                            "type": "string"
                          },
                          "name": {
                            "example": "RTTopicCriteria",
                            "type": "string"
                          },
                          "updated_on": {
                            "example": "2020-06-15T15:19:44.102Z",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "trans_id": {
                      "example": "0c19ad72-179c-4d89-bf6d-2e104e3d62f5",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          }
        },
        "summary": "List Segments in an App",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X GET https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments\n-H \"Content-Type : application/json\"\n-H \"secretKey: {secretKey}\"",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.get(\"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments\",\n    :headers => {'Content-Type' => 'application/json',\n                          'secretKey ' => '{secretKey}’\n            }\n)\n# Print on console\nputs http",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments\"\n\nheaders = {'Content-Type': 'application/json', 'secretKey': '{secretKey}’}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/rtmsAPI/api/v1"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
