{
  "_id": "6a675233ec1c893d8a7f67ba:6a675233ec1c893d8a7f6509",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Thread API",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/{appid}/user/{userid}/threads/{threadid}": {
      "put": {
        "deprecated": false,
        "description": "This API allows you to update thread information for a specified app. By providing the app ID, user ID, and thread ID, you can perform actions such as closing or reopening a thread, as well as updating other thread-related information.",
        "operationId": "update-thread",
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on Webex Connect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the ID of the app asset on Webex Connect platform",
            "in": "path",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID for a mobile/web app user",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID of the thread",
            "in": "path",
            "name": "threadid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "category": {
                    "description": "Specifies the thread category",
                    "type": "string"
                  },
                  "externalid": {
                    "description": "This can be used to specify any identifier that client is maintaining on their side",
                    "type": "string"
                  },
                  "extras": {
                    "description": "In the \"extras\" object, you can pass custom parameters by providing key-value pairs. Each key should be paired with a value, where the value is a string.",
                    "type": "array"
                  },
                  "status": {
                    "description": "Specifies the thread status. You can pass either Closed or Active.",
                    "type": "string"
                  },
                  "title": {
                    "description": "Specifies the thread title.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": \"0\",\n    \"description\": \"success\",\n    \"thread\": {\n        \"updated_on\": \"2020-08-13T11:51:30.843Z\",\n        \"id\": \"b100e3a7-f65f-4671-aa67-9a58a87dabc2\"\n    }\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "example": "0",
                      "type": "string"
                    },
                    "description": {
                      "example": "success",
                      "type": "string"
                    },
                    "thread": {
                      "properties": {
                        "id": {
                          "example": "b100e3a7-f65f-4671-aa67-9a58a87dabc2",
                          "type": "string"
                        },
                        "updated_on": {
                          "example": "2020-08-13T11:51:30.843Z",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "400"
          }
        },
        "security": [],
        "summary": "Update Thread",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X PUT https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/user/{{userid}}/threads/{{threadid}}\n-H \"Content-Type : application/json\"\n-H \"secretKey: {secretKey}\"\n",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.put(\"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/user/{{userid}}/threads/{{threadid}}\",\n    :headers => {'Content-Type' => 'application/json',\n\t'secretKey ' => '{secretKey}’})\n# Print on console\nputs http\n",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PUT\", \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/user/{{userid}}/threads/{{threadid}}\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);\n",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/user/{{userid}}/threads/{{threadid}}\"\n\nheaders = {'Content-Type': 'application/json', 'secretKey': '{secretKey}'}\n\nresponse = requests.request(\"PUT\", url, headers=headers)\n\nprint(response.text)\n",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/rtmsAPI/api/v1/"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
