{
  "_id": "6a675233ec1c893d8a7f67bb:6a675233ec1c893d8a7f64fe",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Segment APIs",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/{inappid}/segments/{segmentid}/users?start=0": {
      "get": {
        "deprecated": false,
        "description": "This API is used to get all users of a segment",
        "operationId": "get-all-users",
        "parameters": [
          {
            "description": "The ID of the app asset that you can obtain from the imiconnect platform",
            "in": "path",
            "name": "inappid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID of the segment",
            "in": "path",
            "name": "segmentid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The record pointer that defines where to start in the list. A maximum of 50 records can be returned (if available).",
            "in": "query",
            "name": "start",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 0,\n    \"description\": \"Success\",\n    \"trans_id\": \"295e1d2e-b5a9-4d7d-8358-d1e0da803f94\",\n    \"users\": [\n        \"1420966801\",\n        \"1420966802\"\n    ]\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "description": {
                      "example": "Success",
                      "type": "string"
                    },
                    "trans_id": {
                      "example": "295e1d2e-b5a9-4d7d-8358-d1e0da803f94",
                      "type": "string"
                    },
                    "users": {
                      "items": {
                        "example": "1420966801",
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          }
        },
        "summary": "Get All Users of  a Segment",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X GET https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments/{segmentid}/users?start=0\n-H \"secretKey: {secretKey}\"",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.get(\"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments/{segmentid}/users?start=0\",\n    :headers => {\n                          'secretKey ' => '{secretKey}’\n            }\n)\n# Print on console\nputs http",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments/{segmentid}/users?start=0\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments/{segmentid}/users?start=0\"\n\nheaders = {'secretKey': '{secretKey}’}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/rtmsAPI/api/v1"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
