{
  "_id": "6a675233ec1c893d8a7f67bc:6a675233ec1c893d8a7f64ed",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Topic APIs",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/$(appid)/topics": {
      "post": {
        "deprecated": false,
        "description": "This API is used to create topics for a specific appId.",
        "operationId": "createtopic",
        "parameters": [
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the app asset that you can obtain from IMIconnect platform",
            "in": "path",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Request Example": {
                  "value": {
                    "description": "Get Benefits from this topic",
                    "name": "offers",
                    "ref": "offer ref",
                    "topic_group": "Extra Benefits"
                  }
                }
              },
              "schema": {
                "properties": {
                  "description": {
                    "description": "Used to add a comprehensive description",
                    "type": "string"
                  },
                  "name": {
                    "description": "Specifies the name of the topic",
                    "type": "string"
                  },
                  "ref": {
                    "description": "Used to store input data",
                    "type": "string"
                  },
                  "topic_group": {
                    "description": "Used to define the group of the topic",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "description"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"id\" : \"591d7f04e4b09e0d95d4f73f\",\n\t\"trans_id\" : \"22a23dbc-af31-4c65-925e-8e74e115ef27\",\n\t\"description\" : \"success\",\n\t\"code\" : 0\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "description": {
                      "example": "success",
                      "type": "string"
                    },
                    "id": {
                      "example": "591d7f04e4b09e0d95d4f73f",
                      "type": "string"
                    },
                    "trans_id": {
                      "example": "22a23dbc-af31-4c65-925e-8e74e115ef27",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          }
        },
        "security": [],
        "summary": "Create a Topic",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X POST https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/topics\n-H \"Content-Type : application/json\"\n-H \"secretKey: {secretKey}\"\n",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.post(\"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/topics\",\n    :headers => {'Content-Type' => 'application/json',\n                          'secretKey ' => '{secretKey}’\n            }\n)\n# Print on console\nputs http\n",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/topics\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);\n",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/topics\"\n\nheaders = {'Content-Type': 'application/json', 'secretKey': '{secretKey}’}\n\nresponse = requests.request(\"POST\", url, headers=headers)\n\nprint(response.text)\n\n",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
