{
  "_id": "6a675233ec1c893d8a7f67bd:6a675233ec1c893d8a7f6508",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Thread API v2",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/rtmsAPI/api/v2/apps/{appid}/user/{userid}/threads/{threadid}/messages": {
      "get": {
        "deprecated": false,
        "description": "This API retrieves a list of messages for a specified thread within a given app ID and user ID.",
        "operationId": "user-messages-2",
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on Webex Connect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the ID of the app asset on Webex Connect platform",
            "in": "path",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID for a mobile/web app user",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID of a thread.",
            "in": "path",
            "name": "threadid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"total\": 1,\n\t\"code\": \"0\",\n\t\"count\": 1,\n\t\"messages\": [\n\t\t{\n\t\t\t\"payload_type\": \"sentByUser\",\n\t\t\t\"extras\": {},\n\t\t\t\"media\": [],\n\t\t\t\"thread\":{\n\t\t\t\t\t\t\"id\": \"5acb5fa7e4b04b585f09434d_0_f3f3cac48f810645875f97466b36993b522167ea\"\n\t\t\t\t}\n\t\t\t\"message\": \"Test2\",\n\t\t\t\"userId\": \"WwopGfVlcgKxbI2egTiT/Q==/Z8WPLM\",\n\t\t\t\"tid\": \"RDF5856B2-5197-4956-9809-CE68C9A446B9\",\n\t\t\t\"created_on\": \"2018-04-20T06:18:54.058Z\",\n\t\t\t\"appid\": \"R209113055\",\n\t\t\t\"read_at\": \"\",\n\t\t\t\"delivered_at\": \"\",\n\t\t\t\"status\": \"submited\"\n\t\t}\n\t],\n\t\"description\": \"success\"\n}\n"
                  }
                }
              }
            },
            "description": "200"
          }
        },
        "summary": "Get User Messages v2",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X GET https://rtm.imiconnect.io/rtmsAPI/api/v2/apps/{{appid}}/user/{userid}/threads/{threadid}/messages\n-H \"Content-Type : application/json\"\n-H \"secretKey: {secretKey}\"\n",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.get(\"https://rtm.imiconnect.io/rtmsAPI/api/v2/apps/{appid}/user/{userid}/threads/{{threadid}}/messages\",\n    :headers => {'Content-Type' => 'application/json',\n\t'secretKey ' => '{secretKey}’})\n# Print on console\nputs http\n",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \" https://rtm.imiconnect.io/rtmsAPI/api/v2/apps/{appid}/user/{userid}/threads/{{threadid}}/messages\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);\n",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \" https://rtm.imiconnect.io/rtmsAPI/api/v2/apps/{appid}/user/{userid}/threads/{{threadid}}/messages\"\n\nheaders = {'Content-Type': 'application/json', 'secretKey': '{secretKey}'}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)\n",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "Content-Type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
