{
  "_id": "6a675233ec1c893d8a7f67bb:6a675233ec1c893d8a7f64fd",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Segment APIs",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/{inappid}/segments/{segmentid}/users": {
      "post": {
        "deprecated": false,
        "description": "This API is used to add users to a segment.",
        "operationId": "add-users",
        "parameters": [
          {
            "description": "The unique identifier corresponding to the app asset",
            "in": "path",
            "name": "inappid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID of the segment",
            "in": "path",
            "name": "segmentid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "secretKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "users": {
                    "description": "Contains comma separated users",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 0,\n    \"success_users\": [\n        \"1420966801\",\n        \"1420966802\"\n    ],\n    \"fail_users\": [],\n    \"description\": \"Success\",\n    \"trans_id\": \"9e94dfd5-a82c-4763-a4ff-6b2b26779f6d\"\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "description": {
                      "example": "Success",
                      "type": "string"
                    },
                    "fail_users": {
                      "items": {
                        "properties": {},
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success_users": {
                      "items": {
                        "example": "1420966801",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "trans_id": {
                      "example": "9e94dfd5-a82c-4763-a4ff-6b2b26779f6d",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          }
        },
        "summary": "Add Users to a Segment",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X POST https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}}/segments/{segmentid}}/users\n-H \"Content-Type : application/json\"\n-H \"secretKey: {secretKey}\"",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.post(\"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments/{segmentid}/users\",\n    :headers => {'Content-Type' => 'application/json',\n                          'secretKey ' => '{secretKey}’\n            }\n)\n# Print on console\nputs http",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments/{segmentid}/users\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{inappid}/segments/{segmentid}/users\"\n\nheaders = {'Content-Type': 'application/json', 'secretKey': '{secretKey}’}\n\nresponse = requests.request(\"POST\", url, headers=headers)\n\nprint(response.text)",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/rtmsAPI/api/v1"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
