{
  "_id": "6a675233ec1c893d8a7f67b8:6a675233ec1c893d8a7f6598",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Profile API v2",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/<appid>/deviceid/<deviceid>": {
      "delete": {
        "deprecated": false,
        "description": "",
        "operationId": "delete-device-profile-by-customer-id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"TotalCount\": 1,\n    \"code\": \"1000\",\n    \"FailureCount\": 0,\n    \"Results\": [\n        {\n            \"code\": \"1000\",\n            \"customerId\": \"323536\",\n            \"description\": \"SUCCESS\",\n            \"userId\": \"323536\"\n        }\n    ],\n    \"transid\": \"dd4d0e83-529d-47f5-b36d-141915426989\",\n    \"description\": \"SUCCESS\",\n    \"SuccessCount\": 1\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "FailureCount": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "Results": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": "1000",
                            "type": "string"
                          },
                          "customerId": {
                            "example": "323536",
                            "type": "string"
                          },
                          "description": {
                            "example": "SUCCESS",
                            "type": "string"
                          },
                          "userId": {
                            "example": "323536",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "SuccessCount": {
                      "default": 0,
                      "example": 1,
                      "type": "integer"
                    },
                    "TotalCount": {
                      "default": 0,
                      "example": 1,
                      "type": "integer"
                    },
                    "code": {
                      "example": "1000",
                      "type": "string"
                    },
                    "description": {
                      "example": "SUCCESS",
                      "type": "string"
                    },
                    "transid": {
                      "example": "dd4d0e83-529d-47f5-b36d-141915426989",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          },
          "202": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"FailureCount\": 0,\n    \"TotalCount\": 1,\n    \"description\": \"QUEUED\",\n    \"SuccessCount\": 1,\n    \"code\": \"1000\",\n    \"Results\": [{\n        \"customerId\": \"9876\",\n        \"description\": \"QUEUED\",\n        \"code\": \"1000\"\n    }],\n    \"transid\": \"e0de0ab3-9f99-4602-bf03-09916f8d6bcc\"\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "FailureCount": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "Results": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": "1000",
                            "type": "string"
                          },
                          "customerId": {
                            "example": "9876",
                            "type": "string"
                          },
                          "description": {
                            "example": "QUEUED",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "SuccessCount": {
                      "default": 0,
                      "example": 1,
                      "type": "integer"
                    },
                    "TotalCount": {
                      "default": 0,
                      "example": 1,
                      "type": "integer"
                    },
                    "code": {
                      "example": "1000",
                      "type": "string"
                    },
                    "description": {
                      "example": "QUEUED",
                      "type": "string"
                    },
                    "transid": {
                      "example": "e0de0ab3-9f99-4602-bf03-09916f8d6bcc",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "202"
          }
        },
        "summary": "Delete Device Profile by Customer ID"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://api.imiconnect.io/resources/v2"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "Content-Type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
