{
  "_id": "6a675233ec1c893d8a7f67b8:6a675233ec1c893d8a7f64e2",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Profile API v2",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/customerprofile": {
      "post": {
        "deprecated": false,
        "description": "This API is used create a customer's profile.",
        "operationId": "createprofile",
        "parameters": [
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Create Multiple Profiles": {
                  "value": {
                    "Records": [
                      {
                        "Attributes": {
                          "email": "test1@imimobile.com",
                          "msisdn": "911278994640",
                          "name": "John"
                        },
                        "customerId": "54321"
                      },
                      {
                        "Attributes": {
                          "email": "test2@imimobile.com",
                          "msisdn": "911278994642",
                          "name": "Gary"
                        },
                        "customerId": "54322"
                      }
                    ]
                  }
                },
                "Create Single Profile": {
                  "value": {
                    "Records": [
                      {
                        "Attributes": {
                          "email": "firstname.lastname@organization.com"
                        },
                        "customerId": "70933"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "properties": {
                  "attributes": {
                    "description": "The attributes that are selected while creating a client from imiconnect admin",
                    "properties": {},
                    "type": "object"
                  },
                  "customerId": {
                    "description": "A client specific ID (such as CRN) to uniquely identify a customer",
                    "type": "string"
                  }
                },
                "required": [
                  "customerId",
                  "attributes"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"TotalCount\": 1,\n    \"code\": \"1000\",\n    \"FailureCount\": 0,\n    \"Results\": [\n        {\n            \"code\": \"1000\",\n            \"customerId\": \"70993\",\n            \"description\": \"SUCCESS\"\n        }\n    ],\n    \"transid\": \"cf833aaf-1ef1-47cc-96d5-54ab85add0f9\",\n    \"description\": \"SUCCESS\",\n    \"SuccessCount\": 1\n}"
                  }
                },
                "schema": {
                  "properties": {
                    "FailureCount": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "Results": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": "1000",
                            "type": "string"
                          },
                          "customerId": {
                            "example": "70993",
                            "type": "string"
                          },
                          "description": {
                            "example": "SUCCESS",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "SuccessCount": {
                      "default": 0,
                      "example": 1,
                      "type": "integer"
                    },
                    "TotalCount": {
                      "default": 0,
                      "example": 1,
                      "type": "integer"
                    },
                    "code": {
                      "example": "1000",
                      "type": "string"
                    },
                    "description": {
                      "example": "SUCCESS",
                      "type": "string"
                    },
                    "transid": {
                      "example": "cf833aaf-1ef1-47cc-96d5-54ab85add0f9",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          }
        },
        "summary": "Create Customer Profile",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X POST https://api.imiconnect.io/resources/v1/customerprofile\n-H \"Content-Type : application/json\"\n-H \"key : {profilekey}\"\n\n",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.post(\"https://api.imiconnect.io/resources/v1/customerprofile\",\n    :headers => {'Content-Type' => 'application/json',\n\t'key' => ' Profile key present in tenant setting’})\n# Print on console\nputs http\n",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://api.imiconnect.io/resources/v1/customerprofile \");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"key\", \"Profile key present in tenant setting\");\nxhr.send(data);\n",
              "language": "javascript"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://api.imiconnect.io/resources/v1/customerprofile \");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"key\", \"Profile key present in tenant setting\");\nxhr.send(data);\n",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://api.imiconnect.io/resources/v2"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "Content-Type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
