{
  "_id": "6a675233ec1c893d8a7f67bc:6a675233ec1c893d8a7f64f6",
  "components": {
    "securitySchemes": {
      "sec0": {
        "in": "header",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "title": "Topic APIs",
    "version": "6.20.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/apps/$(appid)/topics/$(topicid)/users?users=\"1234\",\"5678\"": {
      "delete": {
        "deprecated": false,
        "description": "This API is used to unsubscribe the user from a topic.",
        "operationId": "unsubscribe-users-from-topics",
        "parameters": [
          {
            "description": "Application/JSON",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
            "in": "header",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the app asset that you can obtain from imiconnect platform",
            "in": "path",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the ID of the topic",
            "in": "path",
            "name": "topicid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of required comma separated users",
            "in": "query",
            "name": "users",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"total\": \"1\",\n    \"code\": 0,\n    \"count\": \"50\",\n    \"description\": \"success\",\n    \"trans_id\": \"49f6cf11-6787-4b75-bef7-f9afd618af71\",\n    \"users\": [\n        \"1420966801\"\n    ]\n}\n"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "default": 0,
                      "example": 0,
                      "type": "integer"
                    },
                    "count": {
                      "example": "50",
                      "type": "string"
                    },
                    "description": {
                      "example": "success",
                      "type": "string"
                    },
                    "total": {
                      "example": "1",
                      "type": "string"
                    },
                    "trans_id": {
                      "example": "49f6cf11-6787-4b75-bef7-f9afd618af71",
                      "type": "string"
                    },
                    "users": {
                      "items": {
                        "example": "1420966801",
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "200"
          }
        },
        "summary": "Unsubscribe multiple users from a Topic",
        "x-readme": {
          "code-samples": [
            {
              "code": "-X DELETE https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/topics/{{topicid}}/users\n-H \"secretKey: {secretKey}\"\n",
              "language": "curl"
            },
            {
              "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.delete(\"https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/topics/{{topicid}}/users\",\n    :headers => {\n                          'secretKey ' => '{secretKey}’\n            }\n)\n# Print on console\nputs http\n",
              "language": "ruby"
            },
            {
              "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/topics/{{topicid}}/users\");\nxhr.setRequestHeader(\"secretKey\", \"{secretKey}\");\nxhr.send(data);\n",
              "language": "javascript"
            },
            {
              "code": "import requests\n\nurl = \" https://rtm.imiconnect.io/rtmsAPI/api/v1/apps/{{inappid}}/topics/{{topicid}}/users\"\n\nheaders = {'secretKey': '{secretKey}’}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)\n",
              "language": "python"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "javascript",
            "python"
          ]
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "servers": [
    {
      "url": "https://rtm.imiconnect.io/"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "content-type",
        "value": "application/json"
      }
    ],
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}
