{
  "api": {
    "auth": "required",
    "examples": {
      "codes": [
        {
          "code": "-X DELETE https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\n-H \"Content-Type : application/json\"\n-H \"key : {profilekey}\"\n",
          "language": "curl"
        },
        {
          "code": "var request=require(\"request\");\n var options = {\n          method: 'DELETE',\n          uri: ' https://api.imiconnect.io/resources/v2/customerprofile/{customerId}',\n          headers: {\n            'Content-Type': 'application/json',\n\t'key': ' Profile key present in tenant setting '\n            }\n        };\n  request(options, function(error, response, body) {\n               if(error){\n                  console.log(error);\n             }else{\n                  console.log(response);\n            }\n        });\n",
          "language": "json",
          "name": "Node"
        },
        {
          "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.delete(\"https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\",\n    :headers => {'Content-Type' => 'application/json',\n\t'key' => ' Profile key present in tenant setting’})\n# Print on console\nputs http\n",
          "language": "ruby"
        },
        {
          "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \" https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"key\", \"Profile key present in tenant setting\");\nxhr.send(data);\n",
          "language": "javascript"
        },
        {
          "code": "import requests\n\nurl = \" https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\"\n\nheaders = {'Content-Type': 'application/json', 'key': ' Profile key present in tenant setting '}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)\n",
          "language": "python"
        },
        {
          "code": "https://api.imiconnect.com/resources/v2/customerprofile/1234",
          "language": "json",
          "name": "Delete Single Profile"
        },
        {
          "code": "https://api.imiconnect.com/resources/v2/customerprofile?customerId=1234&customerId=1235",
          "language": "json",
          "name": "Delete Multiple Profiles"
        }
      ]
    },
    "method": "delete",
    "params": [
      {
        "name": "customerid",
        "type": "string",
        "enumValues": "",
        "default": "",
        "desc": "A client specific ID (such as CRN) to uniquely identify a customer",
        "required": false,
        "in": "path",
        "ref": "",
        "_id": "5f6df880810b0f005d6d6c67",
        "id": "5f6df880810b0f005d6d6c67"
      },
      {
        "name": "Content-Type",
        "type": "string",
        "enumValues": "",
        "default": "",
        "desc": "Application/JSON",
        "required": false,
        "in": "header",
        "ref": "",
        "_id": "5f6df880810b0f005d6d6c66",
        "id": "5f6df880810b0f005d6d6c66"
      },
      {
        "name": "secretKey",
        "type": "string",
        "enumValues": "",
        "default": "",
        "desc": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
        "required": false,
        "in": "header",
        "ref": "",
        "_id": "5f6df880810b0f005d6d6c65",
        "id": "5f6df880810b0f005d6d6c65"
      }
    ],
    "results": {
      "codes": [
        {
          "language": "json",
          "code": "{\n    \"TotalCount\": 1,\n    \"code\": \"1000\",\n    \"FailureCount\": 0,\n    \"Results\": [\n        {\n            \"code\": \"1000\",\n            \"customerId\": \"10\",\n            \"description\": \"SUCCESS\"\n        }\n    ],\n    \"transid\": \"4a8c9475-10f6-406e-a670-f5708b092b91\",\n    \"description\": \"SUCCESS\",\n    \"SuccessCount\": 1\n}\n",
          "status": 200
        },
        {
          "code": "{\n  \"FailureCount\": 0,\n  \"TotalCount\": 1,\n  \"description\": \"QUEUED\",\n  \"SuccessCount\": 1,\n  \"code\": \"1000\",\n  \"Results\": [\n    {\n      \"customerId\": \"1234\",\n      \"description\": \"QUEUED\",\n      \"code\": \"1000\"\n    }\n  ],\n  \"transid\": \"b41b6aa3-8603-45d3-9c70-93dc384970e7\"\n}",
          "language": "json",
          "status": 202,
          "name": "Delete Single Profile"
        },
        {
          "code": "{\n  \"FailureCount\": 0,\n  \"TotalCount\": 1,\n  \"description\": \"QUEUED\",\n  \"SuccessCount\": 1,\n  \"code\": \"1000\",\n  \"Results\": [\n    {\n      \"customerId\": \"1234\",\n      \"description\": \"QUEUED\",\n      \"code\": \"1000\"\n    },\n     {\n      \"customerId\": \"1235\",\n      \"description\": \"QUEUED\",\n      \"code\": \"1000\"\n    }\n  ],\n  \"transid\": \"b41b6aa3-8603-45d3-9c70-93dc384970e7\"\n}",
          "language": "json",
          "status": 202,
          "name": "Delete Multiple Profiles"
        }
      ]
    },
    "settings": "",
    "url": "/customerprofile/<customerID>",
    "apiSetting": "6a675233ec1c893d8a7f67b8"
  },
  "swagger": {
    "path": "/customerprofile/<customerID>"
  },
  "oas_public_id": "@imiconnect-apis/v6.20.0#4antsko2gmhtm41k0",
  "selected_openapi": {
    "openapi": "3.1.0",
    "info": {
      "title": "Profile API v2",
      "version": "6.20.0"
    },
    "servers": [
      {
        "url": "https://api.imiconnect.io/resources/v2"
      }
    ],
    "security": [
      {
        "sec0": []
      }
    ],
    "path": "/customerprofile/<customerID>",
    "method": "delete",
    "path_parameters": [],
    "operation": {
      "summary": "Delete Customer Profile",
      "description": "This API is used to delete a customer profile.",
      "operationId": "deleteprofile",
      "parameters": [
        {
          "name": "customerid",
          "in": "path",
          "description": "A client specific ID (such as CRN) to uniquely identify a customer",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Content-Type",
          "in": "header",
          "description": "Application/JSON",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "secretKey",
          "in": "header",
          "description": "Client key that can be accessed from your app asset configuration page on imiconnect platform",
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "200",
          "content": {
            "application/json": {
              "examples": {
                "Result": {
                  "value": "{\n    \"TotalCount\": 1,\n    \"code\": \"1000\",\n    \"FailureCount\": 0,\n    \"Results\": [\n        {\n            \"code\": \"1000\",\n            \"customerId\": \"10\",\n            \"description\": \"SUCCESS\"\n        }\n    ],\n    \"transid\": \"4a8c9475-10f6-406e-a670-f5708b092b91\",\n    \"description\": \"SUCCESS\",\n    \"SuccessCount\": 1\n}\n"
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "TotalCount": {
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "code": {
                    "type": "string",
                    "example": "1000"
                  },
                  "FailureCount": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  },
                  "Results": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "1000"
                        },
                        "customerId": {
                          "type": "string",
                          "example": "10"
                        },
                        "description": {
                          "type": "string",
                          "example": "SUCCESS"
                        }
                      }
                    }
                  },
                  "transid": {
                    "type": "string",
                    "example": "4a8c9475-10f6-406e-a670-f5708b092b91"
                  },
                  "description": {
                    "type": "string",
                    "example": "SUCCESS"
                  },
                  "SuccessCount": {
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "202": {
          "description": "202",
          "content": {
            "application/json": {
              "examples": {
                "Delete Single Profile": {
                  "value": "{\n  \"FailureCount\": 0,\n  \"TotalCount\": 1,\n  \"description\": \"QUEUED\",\n  \"SuccessCount\": 1,\n  \"code\": \"1000\",\n  \"Results\": [\n    {\n      \"customerId\": \"1234\",\n      \"description\": \"QUEUED\",\n      \"code\": \"1000\"\n    }\n  ],\n  \"transid\": \"b41b6aa3-8603-45d3-9c70-93dc384970e7\"\n}"
                },
                "Delete Multiple Profiles": {
                  "value": "{\n  \"FailureCount\": 0,\n  \"TotalCount\": 1,\n  \"description\": \"QUEUED\",\n  \"SuccessCount\": 1,\n  \"code\": \"1000\",\n  \"Results\": [\n    {\n      \"customerId\": \"1234\",\n      \"description\": \"QUEUED\",\n      \"code\": \"1000\"\n    },\n     {\n      \"customerId\": \"1235\",\n      \"description\": \"QUEUED\",\n      \"code\": \"1000\"\n    }\n  ],\n  \"transid\": \"b41b6aa3-8603-45d3-9c70-93dc384970e7\"\n}"
                }
              },
              "schema": {
                "oneOf": [
                  {
                    "title": "Delete Single Profile",
                    "type": "object",
                    "properties": {
                      "FailureCount": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "TotalCount": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "description": {
                        "type": "string",
                        "example": "QUEUED"
                      },
                      "SuccessCount": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "code": {
                        "type": "string",
                        "example": "1000"
                      },
                      "Results": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "customerId": {
                              "type": "string",
                              "example": "1234"
                            },
                            "description": {
                              "type": "string",
                              "example": "QUEUED"
                            },
                            "code": {
                              "type": "string",
                              "example": "1000"
                            }
                          }
                        }
                      },
                      "transid": {
                        "type": "string",
                        "example": "b41b6aa3-8603-45d3-9c70-93dc384970e7"
                      }
                    }
                  },
                  {
                    "title": "Delete Multiple Profiles",
                    "type": "object",
                    "properties": {
                      "FailureCount": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "TotalCount": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "description": {
                        "type": "string",
                        "example": "QUEUED"
                      },
                      "SuccessCount": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "code": {
                        "type": "string",
                        "example": "1000"
                      },
                      "Results": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "customerId": {
                              "type": "string",
                              "example": "1234"
                            },
                            "description": {
                              "type": "string",
                              "example": "QUEUED"
                            },
                            "code": {
                              "type": "string",
                              "example": "1000"
                            }
                          }
                        }
                      },
                      "transid": {
                        "type": "string",
                        "example": "b41b6aa3-8603-45d3-9c70-93dc384970e7"
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "deprecated": false,
      "x-readme": {
        "code-samples": [
          {
            "language": "curl",
            "code": "-X DELETE https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\n-H \"Content-Type : application/json\"\n-H \"key : {profilekey}\"\n"
          },
          {
            "language": "ruby",
            "code": "require 'httparty'\n# Create the HTTP objects and post request\nhttp = HTTParty.delete(\"https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\",\n    :headers => {'Content-Type' => 'application/json',\n\t'key' => ' Profile key present in tenant setting’})\n# Print on console\nputs http\n"
          },
          {
            "language": "javascript",
            "code": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \" https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"key\", \"Profile key present in tenant setting\");\nxhr.send(data);\n"
          },
          {
            "language": "python",
            "code": "import requests\n\nurl = \" https://api.imiconnect.io/resources/v2/customerprofile/{customerId}\"\n\nheaders = {'Content-Type': 'application/json', 'key': ' Profile key present in tenant setting '}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)\n"
          }
        ],
        "samples-languages": [
          "curl",
          "ruby",
          "javascript",
          "python"
        ]
      }
    },
    "components": {
      "securitySchemes": {
        "sec0": {
          "type": "apiKey",
          "in": "header",
          "name": "key"
        }
      }
    }
  }
}
